/************************* @ Media Querry ************************/
@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media screen and (max-width: 992px) {
    html {
        font-size: 14px;
    }
    .container {
        max-width: 960px;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .container {
        max-width: 720px;
    }
    p {
        font-size: 1.5rem;
    }
    .sm-align-text-center {
        text-align: center;
    }
    .sm-margin-bottom {
        margin-bottom: 2rem;
    }
    /* ******** Flex ********** */
    .sm-flex {
        display:flex;
    }
    .sm-flex-column {
        flex-direction: column;
    }
    .sm-justify-center {
        justify-content: center;
    }
    .sm-display-block {
        display: block;
    }  
    .sm-align-center {
        align-items: center;
    }

    /* ******** Header ********** */
    header, header i {
        font-size: 1.2rem;
    } 
    header i {
         margin-right: 1rem;
    }
    header .phone {
        margin-right: 0rem;
    }
    header .fa-envelope {
        margin-left: 2rem;
        margin-right: 0.5rem;
        vertical-align: bottom;
    }
    /* Hamburger */
    .nav {
        display: none;
    }
    .nav-bar {
        padding: 1rem;
        width: 100%;
    }
    .fa-bars{
        display: inline-block;
        font-size: 1.5rem;
        padding: 0.5rem 0.7rem;
        background-color: $primary;
        border-radius: 0.2rem;
        margin-top: 0.2rem;
        color: #fff;
        margin-right: 0;
        position: absolute;
        right: 2rem;
    } 
    #toggle:checked ~.nav {
        display:inline-block;
        position: fixed;
        z-index: 3;
        background-color: rgba(yellow, 0.8);
        width: 100%;
        height: 100vh;
        top:0;
        left:0;
        padding-top: 10rem;
        li {
            margin-bottom: 5rem;
        }      
        a {
            font-size: 2rem;
            font-weight: 500;
            color: maroon;
        }
        .sub-menu-box:hover .submenu {
            top: 0;
            margin-left: 10rem;    
            z-index: 2;        
            li {
                width: 12rem;
                background-color: white;
                margin: 0;
            }
        } 
    }
    #toggle:checked ~.brand {
        position: fixed;
        z-index: 4;
        top: 2rem;
    }
    #toggle:checked ~.close {
        display: inline-block;
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 4;
        i {
            font-size: 3rem;
        }
    }
    #toggle:checked ~.bars {
        display:none;
    }
    /* ***** Hero ***** */
    .hero {
        background-position: 70% top;
        background-size: cover;
    }
    .heading-main {
        width: 10rem;
        font-size: 5rem;
    }
    /* ***** Services ***** */
    .services article {
        margin-right: 0;
    }
    /* ***** Best Consultancy ***** */
    .consultancy {
    .heading-small, p, .btn {
        text-align: center;
    }    
}
    .best-consultancy {
        .btn-div {
            justify-content: center;
        }
    }
/* ***** Industry Leader ***** */
    .leader .bg-img {
    background-image: none;
    }   
    .sm-screen-img {
        display: block;
    }
    .sm-screen-img img, .leader p {
        width: 100%;
    }
/* ***** Client ***** */    
.clients {
    padding-bottom: 20rem;
    background: linear-gradient(rgba(242, 243, 245, 0.5) , rgba(242, 243, 245, 0.5)), 
     url(../media/fitbit.png)  10% 60%/9rem ,
     url(../media/spotify.png) 53% 60%/9rem,
     url(../media/glasfit.png) 90% 60%/9rem;
    background-repeat: no-repeat;
    filter: grayscale(100%); 
}   


/* ***** Footer ******/
    footer {
        .fa-envelope {
            margin-left: 0;
        }
    }
.margin-right {
    margin-right: 10rem;
}

/* ********************** About Us ************************ */
.hero-section .heading-main {
    width: 100%;
} 
/* ***** Solution Types ***** */
.about .about-solution-types p {
    width: 100%;
}
/* ***** Client ***** */    
.about .clients {
    padding-bottom: 20rem;
    background: linear-gradient(rgba(242, 243, 245, 0.5) , rgba(242, 243, 245, 0.5)), 
     url(../media/spotify.png)  10% 60%/9rem ,
     url(../media/glasfit.png) 50% 60%/9rem,
     url(../media/oracle.png) 90% 60%/9rem;
    background-repeat: no-repeat;
    filter: grayscale(100%); 
}   
/* ********************** Services ************************ */
/* ***** Best Deals ***** */ 
 .best-deals .deals {
    border-right: 0;
    display: block;
    text-align: center;
    font-size: 1.7rem;
}
.best-deals p {
    text-align: center;
}
.best-deals .btn {
    align-self: center;
    margin-top: 2rem;
}
/* ********************** Pricing ************************ */
.plans p, .faq p {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}
/* ********************** Contact ************************ */
.contact-section .para-contact, .let-us-know p {
    width: 100%;
}
}
@media screen and (max-width: 576px) {
    html {
        font-size: 10px;
    }
    .container {
        max-width: 540px;
    }
}
