/************ Sub Menu ***************/
.sub-menu-box {
    position: relative;
}
.sub-menu-box:hover .submenu {
    display:inline-block;
}
.submenu {
    display: none;
    position:absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-32.5%);

    li {
        height: 4rem;
        width: 11rem;
        padding: 1rem;
        background-color: #EAEAEA;
    }
    li:hover a {
        color: #fff;
    }
}
.blog {
    transform: translateX(-28.3%);
}