$primary: #DC4145;
$secondary: #F2F2F2;
$header-link: #333333;
$text-color: #1B1E24;
$para-color: #8B9298;
$brand-black: #222222;
$link-active: #EB5F61;
$logo: #BDBEBE;
$footer: #343A40;
$footer-secondary: #8E8E8E;
$footer-primary: #BDBDBD;

$font-size: 16px;
$font-family: 'Archivo', sans-serif;

$container-width: 1400px;
$hero-bg-image: url(../media/banner-1.jpg);
